# Environment
.env
venv/
__pycache__/
*.pyc
.DS_Store

# Data (too large for git)
data/raw/
data/processed/

# Airflow
airflow/
logs/

# Python
*.egg-info/
dist/
.pytest_cache/

# Streamlit
.streamlit/secrets.toml

# dbt
dbt/fleet_dbt/target/
dbt/fleet_dbt/logs/
dbt/fleet_dbt/.user.yml

# Scripts with credentials
scripts/push_to_supabase.py